.header-container {
    display: flex;
    justify-content: space-between;
    height: 6.25rem;
    padding: 2.375rem 2.25rem;
    border-bottom: 1px solid var(--Light-Grey, #E6E0E9);
    background: #96ADAA;
}

#navbar-logo {
    margin-right: 2rem;
    height: 3rem;
}

#navbar-spacer {
    flex: 1 1 auto;
}

.row {
    display:flex;
}

#portrait-image {
    max-height:100%;
    max-width:100%;
}