<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Squada+One&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Squada+One&display=swap" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="header-container">
                <img id="navbar-logo" src="../assets/logo.png" alt="Logo">
                <span id="navbar-title">
                    <span>Personal Website</span>
                </span>
                <span id="navbar-spacer"></span>
                <nav id="navbar-links">
                    <a href="/">About</a>
                    <a href="/photography">Photography</a>
                    <a href="/travelling">Travelling</a>
                    <a href="/blog">Blog</a>
                    <a href="/contact">Contact</a>
                </nav>
            </div>
        </header>
        <main>
            <section class="hero-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="hero-left">
                                <h2>Hello, I'm Jonas Furrer</h2>
                                <div class="title">
                                    Software Engineer
                                </div>
                                <a href="/">Check out my blog</a>
                                <div class="some-icons">
                                    <ul class="display-inline">
                                        <li class="display-inline">
                                            <i class="fa fa-facebook text-dark-gray title-small tz-icon-color"></i>
                                        </li>
                                        <li class="display-inline">
                                            <i class="fa fa-facebook text-dark-gray title-small tz-icon-color"></i>
                                        </li>
                                        <li class="display-inline">
                                            <i class="fa fa-facebook text-dark-gray title-small tz-icon-color"></i>
                                        </li>
                                        <li class="display-inline">
                                            <i class="fa fa-facebook text-dark-gray title-small tz-icon-color"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="hero-right">
                                <img id="portrait-image" src="../assets/portrait_transparent.png" alt="Portrait">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="content-container">
                {{ content }}
            </div>
        </main>
    </body>
</html>